body {
	font-family: "calibri";
	line-height: 150%;
	font-size: 1.1em;
	color: #FFFFFF;
	background-image: url(imagenes/fondo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-size: 80px;
  text-transform: uppercase;
	text-align: center;
	padding-bottom: 1px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 80px;
	color: rgba(230, 230, 230, 0.5);
}

h2 {
	text-align: center;
	padding: 10px;
	color: rgba(230, 230, 230, 0.5);
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

table {	width: 100%;}

table, tr, td {
	font-style: italic;
	color: rgba(230, 230, 230, 0.5);
  border-collapse: collapse;
  border: none;
  text-align: center;
}

th {
	font-size: 1.5em;
}

.tabla {
	padding: 60px;
}

.ejemplo {
		padding: 60px;
}

#subtitulo {
	color: rgba(230, 230, 230, 0.5);
	text-align: center;
	text-transform: uppercase;
}

#p1, #p2, #p3, #p4 {
	padding: 40px;
	text-align: center;
}

#imagenes {
	width: 500px;
	border-radius: 10px;
}
